snippet { "{}" iA
{${1:${VISUAL:}}}$0
endsnippet

snippet ( "()" iA
(${1:${VISUAL:}})$0
endsnippet

snippet [ "[]" iA
[${1:${VISUAL:}}]$0
endsnippet

snippet ' "" iA
'${1:${VISUAL:}}'$0
endsnippet

snippet " "" iA
"${1:${VISUAL:}}"$0
endsnippet



